weari.queueSize=1000
weari.threadCount=5
weari.jsonBaseDir=/user/was/json
# threshold of tracked merged documents at which we should commit.
# Lower if running out of memory.
weari.trackCommitThreshold=10000
